@import "layout/login";
@import "layout/sidebar";
@import "layout/header";

@import "layout/dashboard";
@import "layout/bookings";
@import "layout/booking-details";
@import "layout/rooms";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-width: 1000px;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all .3s;

  &--100w {
    width: 100%;
    margin-left: 0;
  }
}

.small-text {
  font-size: 14px;
}

.weight-500 {
  font-weight: 500;
}

.animate-fadeIn {
  animation: fadeIn .4s ease-in-out;
}

.d-none {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}