.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-500 {
  font-weight: 500;
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.login {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9;
}
.login__card {
  border-radius: 12px;
  background-color: white;
  box-shadow: 4px 10px 20px rgba(25, 25, 25, 0.25);
  text-align: center;
  width: 400px;
  padding: 30px;
}
.login__card__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.login__card__logo h1 {
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  height: 38px;
}
.login__card__logo p {
  color: #5D5449;
  font-size: 14px;
}
.login__card__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login__card__form__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
}
.login__card__form label {
  font-size: 14px;
  color: #212121;
  font-weight: 600;
  margin-bottom: 5px;
}
.login__card__form__input {
  border: none;
  border-bottom: #5D5449 solid 3px;
  outline: none;
  width: 100%;
  padding: 5px 10px;
}
.login__card__form button {
  background-color: #E23428;
  color: white;
  margin-top: 20px;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-500 {
  font-weight: 500;
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sidebar {
  width: 300px;
  box-shadow: 13px 3px 40px rgba(0, 0, 0, 0.0196078431);
  position: absolute;
  background-color: white;
  z-index: 5;
}
.sidebar--hidden {
  display: none;
}
.sidebar__logo {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__logo h1 {
  height: 38px;
}
.sidebar__logo p {
  font-size: 12px;
}
.sidebar__nav {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #799283;
}
.sidebar__nav__box {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.sidebar__nav__box:first-child {
  margin-top: 0;
}
.sidebar__nav__box a {
  text-decoration: none;
  color: #799283;
}
.sidebar__nav__box i {
  margin-right: 15px;
}
.sidebar__nav__box--active {
  color: #E23428;
}
.sidebar__nav__box--active::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: #E23428;
  width: 6px;
  border-radius: 0 6px 6px 0;
  height: 50px;
}
.sidebar__nav__box--active a {
  color: #E23428;
  font-weight: 600;
}
.sidebar__card {
  padding: 20px 30px;
  border-radius: 18px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.0784313725);
  text-align: center;
}
.sidebar__card__img {
  border-radius: 8px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.sidebar__card__name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}
.sidebar__card__mail {
  font-size: 10px;
  color: #B2B2B2;
  margin-bottom: 15px;
}
.sidebar__card__btn {
  color: #135846;
  background-color: #EBF1EF;
  text-transform: capitalize;
}
.sidebar__rights {
  font-size: 12px;
  color: #B2B2B2;
  width: fit-content;
}
.sidebar__rights p {
  text-align: left;
}
.sidebar__rights__bold {
  color: black;
  font-weight: 700;
  font-size: 15px;
  margin-top: 60px;
}
.sidebar__rights__bottom-text {
  margin-top: 50px;
  color: #799283;
  font-size: 14px;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-500 {
  font-weight: 500;
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: white;
}
.header__hamburger {
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
  padding: 12px;
}
.header__hamburger:hover {
  background-color: rgba(178, 178, 178, 0.5);
}
.header__hamburger:active {
  background-color: #B2B2B2;
}
.header__title {
  margin-left: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.header__search {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(248, 248, 248, 0.9725490196);
  padding: 0 10px;
  padding-right: 20px;
  margin-right: 40px;
}
.header__search i {
  color: #6e6e6e;
}
.header__search input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  background: none;
}
.header__icon {
  font-size: 24px;
  cursor: pointer;
  margin: 0 20px;
  color: #135846;
}
.header__img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-left: 20px;
}
.header__bar {
  height: 40px;
  width: 1px;
  background-color: #B2B2B2;
  margin-left: 30px;
  margin-right: 10px;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-500 {
  font-weight: 500;
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dashboard__kpis {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard__kpis__icon {
  font-size: 22px;
}
.dashboard__content {
  margin-left: 22px;
}
.dashboard__content__number {
  font-size: 24px;
  font-weight: 600;
}
.dashboard__content__text {
  font-size: 14px;
  font-weight: 300;
  color: #787878;
}
.dashboard__row {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.dashboard__row__calendar {
  width: 48%;
  max-width: 600px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0196078431);
  padding: 30px;
  position: relative;
}
.dashboard__row__calendar button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.dashboard__row__calendar__title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-weight: 500;
  color: #393939;
}
.dashboard__row__calendar .react-calendar__navigation {
  text-align: right;
  margin-bottom: 30px;
}
.dashboard__row__calendar .react-calendar__navigation__prev2-button {
  display: none;
}
.dashboard__row__calendar .react-calendar__navigation__next2-button {
  display: none;
}
.dashboard__row__calendar .react-calendar__navigation__prev-button, .dashboard__row__calendar .react-calendar__navigation__next-button {
  font-size: 18px;
  color: #B2B2B2;
}
.dashboard__row__calendar .react-calendar__navigation__label {
  font-size: 18px;
  font-weight: 500;
  margin: 0 5px;
  color: #393939;
}
.dashboard__row__calendar .react-calendar__tile {
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  padding: 10px 0;
}
.dashboard__row__calendar .react-calendar__tile abbr {
  padding: 10px 15px;
  border-radius: 12px;
}
.dashboard__row__calendar .react-calendar__tile--active abbr {
  background-color: #135846;
  color: white;
}
.dashboard__row__calendar .react-calendar__month-view__weekdays__weekday {
  color: #799283;
  text-align: center;
  margin-bottom: 15px;
}
.dashboard__row__calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
.dashboard__row__calendar .react-calendar__month-view__days__day--neighboringMonth {
  color: #B2B2B2;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-500 {
  font-weight: 500;
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bookings__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookings__top__menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.bookings__top__menu__item {
  cursor: pointer;
  color: #6e6e6e;
  padding: 13px 26px;
  border-bottom: #6e6e6e solid 1px;
}
.bookings__top__menu__item--active {
  border-bottom: #135846 solid 2px;
  font-weight: 600;
  color: #135846;
}
.bookings__top__select {
  border-radius: 12px;
  border: 1px solid #135846;
  padding: 10px 25px;
  color: #135846;
  cursor: pointer;
  position: relative;
}
.bookings__top__select__text {
  text-transform: capitalize;
  display: inline-block;
  font-weight: 600;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  margin-right: 10px;
}
.bookings__top__select__options {
  position: absolute;
  font-weight: 500;
  background-color: #ccc;
  border-radius: 12px;
  padding: 10px 30px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.bookings__table {
  margin: 30px 0;
  border-radius: 20px;
  background-color: white;
}
.bookings__table__row {
  position: relative;
  color: #393939;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 2px solid #f8f8f8;
  cursor: pointer;
}
.bookings__table__row:hover {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1019607843);
}
.bookings__table__row--first {
  font-weight: 600;
  cursor: auto;
}
.bookings__table__row--first:hover {
  box-shadow: none;
}
.bookings__table__row__item {
  display: flex;
  width: 100%;
}
.bookings__table__row__item__photo {
  width: 50px;
  height: 50px;
  background-color: #EEF9F2;
  border-radius: 8px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookings__table__row__item__photo i {
  font-size: 28px;
  color: #135846;
}
.bookings__table__row__item__id {
  font-size: 14px;
  color: #135846;
}
.bookings__table__row__item__btn {
  background: none;
  border: none;
  color: #135846;
  background-color: #EEF9F2;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 40px;
  border-radius: 12px;
  border: 1px solid transparent;
}
.bookings__table__row__item__btn:hover {
  background-color: white;
  border: 1px solid #135846;
}
.bookings__table__row__item__status {
  width: 115px;
  height: 50px;
  border-radius: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookings__table__row__item__status--red {
  color: #E23428;
  background-color: #FFEDEC;
}
.bookings__table__row__item__status--green {
  color: #5AD07A;
  background-color: #E8FFEE;
}
.bookings__table__row__item__status--gray {
  color: #6D6D6D;
  background-color: #E2E2E2;
}
.bookings__table__row__item__status--black {
  background-color: #575757;
  color: #BEBEBE;
}
.bookings__table__row__ellipsis {
  position: absolute;
  right: 30px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookings__table__row__ellipsis:hover {
  background-color: rgba(178, 178, 178, 0.5);
}
.bookings__table__row__ellipsis:active {
  background-color: #B2B2B2;
}
.bookings__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.bookings__bottom__text {
  font-size: 15px;
  color: #393939;
}
.bookings__bottom__pagination button {
  height: 40px;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}
.bookings__bottom__pagination__btn1 {
  background-color: white;
  color: #135846;
  border: 1px solid #135846;
  width: 70px;
}
.bookings__bottom__pagination__btn1:first-child {
  margin-right: 20px;
}
.bookings__bottom__pagination__btn1:last-child {
  margin-left: 20px;
}
.bookings__bottom__pagination__btn2 {
  background: none;
  border: none;
  width: 40px;
}
.bookings__bottom__pagination__btn2--active {
  color: white;
  background-color: #135846;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-500 {
  font-weight: 500;
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.booking-details {
  width: 100%;
  display: flex;
  align-items: center;
  height: 730px;
}
.booking-details__row {
  display: flex;
  margin-bottom: 30px;
}
.booking-details__left {
  width: 50%;
  background-color: white;
  height: 100%;
  padding: 40px;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}
.booking-details__left__photo {
  height: 120px;
  width: 120px;
  background-color: #EEF9F2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-right: 30px;
}
.booking-details__left__photo i {
  color: #135846;
  font-size: 50px;
}
.booking-details__left__main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.booking-details__left__main h2 {
  font-size: 28px;
  height: 28px;
  font-weight: 600;
}
.booking-details__left__main p {
  font-size: 14px;
  font-weight: 300;
  color: #135846;
}
.booking-details__left__main button {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}
.booking-details__left__main button i {
  font-size: 20px;
}
.booking-details__left__main__phone-btn {
  justify-content: center;
  width: 50px;
  border: #E8F2EF 1px solid;
  color: #135846;
  margin-right: 20px;
  background: none;
}
.booking-details__left__main__message-btn {
  border: none;
  justify-content: space-between;
  color: white;
  background-color: #135846;
  padding: 20px;
}
.booking-details__left__main__message-btn i {
  margin-right: 15px;
}
.booking-details__left__check {
  width: 50%;
}
.booking-details__left__check p:first-child {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}
.booking-details__left__check p:last-child {
  font-weight: 500;
}
.booking-details__left__room {
  width: 50%;
}
.booking-details__left__room p:first-child {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}
.booking-details__left__room p:last-child {
  font-weight: 500;
  font-size: 24px;
}
.booking-details__left__room p:last-child span {
  font-size: 14px;
  color: #888;
}
.booking-details__left__bar {
  height: 2px;
  background-color: #f8f8f8;
  width: 100%;
  margin-bottom: 30px;
}
.booking-details__left__text {
  font-size: 14px;
  color: #363636;
  margin-bottom: 30px;
}
.booking-details__left__facilities {
  font-size: 14px;
  color: #888;
}
.booking-details__left__amenities {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.booking-details__left__amenities__box {
  display: flex;
  align-items: center;
  background-color: #E8F2EF;
  color: #135846;
  padding: 20px;
  border-radius: 8px;
  margin-right: 15px;
}
.booking-details__left__amenities__box p {
  font-weight: 500;
  margin-left: 15px;
  font-size: 15px;
}
.booking-details__left__amenities__box i {
  font-size: 20px;
}
.booking-details__left__amenities__box--small {
  padding: 10px 20px;
}
.booking-details__left__amenities__box--small p {
  margin-left: 0;
}
.booking-details__right {
  width: 50%;
  height: 100%;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  position: relative;
}
.booking-details__right__img {
  z-index: -1;
  width: 100%;
  height: 730px;
  box-shadow: inset 0 -200px 200px #121212;
}
.booking-details__right__img--1 {
  background: url("../img/rooms-3.jpg") center/cover;
}
.booking-details__right__img--2 {
  background: url("../img/rooms-1.jpg") center/cover;
}
.booking-details__right__img--3 {
  background: url("../img/rooms-2.jpg") center/cover;
}
.booking-details__right__img--4 {
  background: url("../img/rooms-4.jpg") center/cover;
}
.booking-details__right__btn {
  z-index: 6;
  position: absolute;
  bottom: 30%;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 2px white solid;
  background: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  font-size: 20px;
}
.booking-details__right__btn-prev {
  left: 8%;
}
.booking-details__right__btn-next {
  right: 8%;
}
.booking-details__right__text {
  position: absolute;
  bottom: 8%;
  left: 8%;
  z-index: 5;
  max-width: 84%;
}
.booking-details__right__text__title {
  font-size: 28px;
  font-weight: 500;
  color: white;
}
.booking-details__right__text p {
  color: #B2B2B2;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
