.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-600 {
  font-weight: 600;
}

.login {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9;
}
.login__card {
  border-radius: 12px;
  background-color: white;
  box-shadow: 4px 10px 20px rgba(25, 25, 25, 0.25);
  text-align: center;
  padding: 30px;
}
.login__card__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.login__card__logo h1 {
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  height: 38px;
}
.login__card__logo p {
  color: #5D5449;
  font-size: 14px;
}
.login__card__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login__card__form__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
}
.login__card__form label {
  font-size: 14px;
  color: #212121;
  font-weight: 600;
  margin-bottom: 5px;
}
.login__card__form__input {
  border: none;
  border-bottom: #5D5449 solid 3px;
  outline: none;
  width: 100%;
  padding: 5px 10px;
}
.login__card__form button {
  background-color: #E23428;
  color: white;
  margin-top: 20px;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-600 {
  font-weight: 600;
}

.sidebar {
  width: 300px;
  box-shadow: 13px 3px 40px rgba(0, 0, 0, 0.0196078431);
  position: absolute;
}
.sidebar--hidden {
  display: none;
}
.sidebar__logo {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__logo h1 {
  height: 38px;
}
.sidebar__logo p {
  font-size: 12px;
}
.sidebar__nav {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #799283;
}
.sidebar__nav__box {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.sidebar__nav__box:first-child {
  margin-top: 0;
}
.sidebar__nav__box a {
  text-decoration: none;
  color: #799283;
}
.sidebar__nav__box i {
  margin-right: 15px;
}
.sidebar__nav__box--active {
  color: #E23428;
}
.sidebar__nav__box--active::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: #E23428;
  width: 6px;
  border-radius: 0 6px 6px 0;
  height: 50px;
}
.sidebar__nav__box--active a {
  color: #E23428;
  font-weight: 600;
}
.sidebar__card {
  padding: 20px 30px;
  border-radius: 18px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.0784313725);
  text-align: center;
}
.sidebar__card__img {
  border-radius: 8px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.sidebar__card__name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}
.sidebar__card__mail {
  font-size: 10px;
  color: #B2B2B2;
  margin-bottom: 15px;
}
.sidebar__card__btn {
  color: #135846;
  background-color: rgba(19, 88, 70, 0.2);
  text-transform: capitalize;
}
.sidebar__rights {
  font-size: 12px;
  color: #B2B2B2;
  width: fit-content;
}
.sidebar__rights p {
  text-align: left;
}
.sidebar__rights__bold {
  color: black;
  font-weight: 700;
  font-size: 15px;
  margin-top: 60px;
}
.sidebar__rights__bottom-text {
  margin-top: 50px;
  color: #799283;
  font-size: 14px;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-600 {
  font-weight: 600;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: white;
}
.header__hamburger {
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
  padding: 12px;
}
.header__hamburger:hover {
  background-color: rgba(178, 178, 178, 0.5);
}
.header__hamburger:active {
  background-color: #B2B2B2;
}
.header__title {
  margin-left: 40px;
  font-weight: 600;
}
.header__search {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #fcfcfc;
  padding: 0 10px;
  margin-right: 40px;
}
.header__search i {
  color: #6e6e6e;
}
.header__search input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  background: none;
}
.header__icon {
  font-size: 24px;
  cursor: pointer;
  margin: 0 20px;
  color: #135846;
}
.header__img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-left: 20px;
}
.header__bar {
  height: 40px;
  width: 1px;
  background-color: #B2B2B2;
  margin-left: 30px;
  margin-right: 10px;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-600 {
  font-weight: 600;
}

.dashboard__kpis {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard__kpis__icon {
  font-size: 22px;
}
.dashboard__content {
  margin-left: 22px;
}
.dashboard__content__number {
  font-size: 24px;
  font-weight: 600;
}
.dashboard__content__text {
  font-size: 14px;
  font-weight: 300;
  color: #787878;
}

.page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  margin-left: 300px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}
.page-content--100w {
  width: 100%;
  margin-left: 0;
}

.small-text {
  font-size: 14px;
}

.weight-600 {
  font-weight: 600;
}

.bookings__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookings__top__menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.bookings__top__menu__item {
  cursor: pointer;
  color: #6e6e6e;
  padding: 13px 26px;
  border-bottom: #6e6e6e solid 1px;
}
.bookings__top__menu__item--active {
  border-bottom: #135846 solid 2px;
  font-weight: 600;
  color: #135846;
}
.bookings__top__select {
  border-radius: 12px;
  border: none;
  outline: none;
  border: 1px solid #135846;
  color: #135846;
  padding: 10px 20px;
}
.bookings__table {
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
}
.bookings__table__row {
  position: relative;
  color: #393939;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 2px solid #f8f8f8;
}
.bookings__table__row--first {
  font-weight: 600;
}
.bookings__table__row__item {
  display: flex;
  width: 100%;
}
.bookings__table__row__item__photo {
  width: 50px;
  height: 50px;
  background-color: #B2B2B2;
  border-radius: 8px;
  margin-right: 15px;
}
.bookings__table__row__item__name {
  font-weight: 600;
}
.bookings__table__row__item__id {
  font-size: 14px;
  color: #135846;
}
.bookings__table__row__ellipsis {
  position: absolute;
  right: 30px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookings__table__row__ellipsis:hover {
  background-color: rgba(178, 178, 178, 0.5);
}
.bookings__table__row__ellipsis:active {
  background-color: #B2B2B2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
