@import '../globals';

.bookings {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu {
      display: flex;
      align-items: center;
      list-style: none;

      &__item {
        cursor: pointer;
        color: #6e6e6e;
        padding: 13px 26px;
        border-bottom: #6e6e6e solid 1px;

        &--active {
          border-bottom: $primary-color solid 2px;
          font-weight: 600;
          color: $primary-color;
        }
      }
    }

    &__select {
      border-radius: 12px;
      border: 1px solid $primary-color;
      padding: 10px 15px;
      color: $primary-color;
      cursor: pointer;
      position: relative;
      outline: none;
      font-weight: 600;
      
      &__text {
        text-transform: capitalize;
        display: inline-block;
        font-weight: 600;
        appearance: none;
        border: none;
        outline: none;
        background: none;
        margin-right: 10px;
      }
    }
  }

  &__table {
    margin: 30px 0;
    border-radius: 20px;
    background-color: white;

    &__row {
      position: relative;
      color: #393939;
      display: flex;
      align-items: center;
      padding: 20px 30px;
      border-bottom: 2px solid #f8f8f8;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 4px 30px #0000001A;
      }

      &--first {
        font-weight: 600;
        cursor: auto;

        &:hover {
          box-shadow: none;
        }
      }

      &__item {
        display: flex;
        width: 100%;

        &__photo {
          width: 50px;
          height: 50px;
          background-color: #EEF9F2;
          border-radius: 8px;
          margin-right: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            font-size: 28px;
            color: $primary-color;
          }
        }

        &__id {
          font-size: 14px;
          color: $primary-color;
        }

        &__btn {
          background: none;
          border: none;
          color: $primary-color;
          background-color: #EEF9F2;
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          padding: 15px 40px;
          border-radius: 12px;
          border: 1px solid transparent;

          &:hover {
            background-color: white;
            border: 1px solid $primary-color;
          }
        }

        &__status {
          width: 115px;
          height: 50px;
          border-radius: 12px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;

          &--red {
            color: $secondary-color;
            background-color: #FFEDEC;
          }
          &--green {
            color: #5AD07A;
            background-color: #E8FFEE;
          }
          &--yellow {
            color: #c09f0a;
            background-color: #fffee9;
          }
        }
      }

      &__ellipsis {
        position: absolute;
        right: 30px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        border-radius: 50%;
        padding: 20px;
        transition: all .3s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover {
          background-color: rgba($color: $gray-color, $alpha: .5);
        }
        &:active {
          background-color: $gray-color;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;

    &__text {
      font-size: 15px;
      color: #393939;
    }

    &__pagination {
      button {
        height: 40px;
        border-radius: 12px;
        font-weight: 500;
        cursor: pointer;
      }
      &__btn1 {
        background-color: white;
        color: $primary-color;
        border: 1px solid $primary-color;
        width: 70px;
        &:first-child {
          margin-right: 20px;
        }
        &:last-child {
          margin-left: 20px;
        }
      }
      &__btn2 {
        background: none;
        border: none;
        width: 40px;

        &--active {
          color: white;
          background-color: $primary-color;
        }
      }
    }
  }

  &__notes-modal-wrapper {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: auto;
    backdrop-filter: blur(5px);
  }
  &__notes-modal {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translateY(-50%);
    min-width: 200px;
    min-height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid $gray-color;
    cursor: auto;
  }
}