@import '../globals';

.create {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 50px;

  &__title {
    font-size: 32px;
    text-align: center;
    color: #212121;
    margin-bottom: 40px;
  }

  &__form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  
      &__cell {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      &__second-col {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}