@import '../globals';

.create {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 50px 100px;

  &__title {
    font-size: 32px;
    text-align: center;
    color: #212121;
    margin-bottom: 40px;
  }

  &__form {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;

    &__grid {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    }
    
    &__column {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
  
      &__cell {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        input, textarea {
          background-color: #eee;
          outline: none;
          padding: 8px 13px;
          border: none;
        }
      }
      select {
        background-color: #eee;
        border: none;
        outline: none;
        padding: 5px 10px;
        width: 150px;
      }
    }

    &__radio {
      display: flex;
      margin-bottom: 20px;
      
      i {
        margin-right: 10px;
      }
      input {
        margin: 0 5px;
      }
    }

    &__amenities {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        margin: 0 5px;
      }
    }

    &__btn {
      padding: 12px 20px;
      border-radius: 12px;
      color: white;
      font-weight: 500;
      background-color: $primary-color;
      cursor: pointer;
      border: none;
    }
  }
}