@import '../globals';

.rooms {
  &__name {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    width: 160px;
    object-fit: cover;
    object-position: center;
    height: 80px;
    border-radius: 8px;
  }
  &__night {
    color: $text-color;
    font-size: 12px; 
    align-self: center;
  }
  &__status {
    padding: 10px 20px;
    color: white;
    border-radius: 12px;
    width: 120px;
    text-align: center;
    text-transform: capitalize;

    &--green {
      background-color: #5AD07A;
    }
    &--red {
      background-color: #E23428;
    }
  }
  &__price {
    justify-content: center;
    text-decoration: line-through;
  }
  &__offer {
    color: #5AD07A;
    justify-content: center;
    font-size: 22px;
  }
  &__big-text {
    font-size: 24px;
    font-weight: 500;
  } 
}