@import '../globals';

.room-create {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 30px;

  &__title {
    font-size: 32px;
    text-align: center;
    color: #212121;
    margin-bottom: 40px;
  }

  &__form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
}