@import '../globals';

.rooms {
  &__name {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    width: 160px;
    object-fit: cover;
    object-position: center;
    height: 80px;
    border-radius: 8px;
  }
  &__night {
    color: $text-color;
    font-size: 12px; 
  }
}