@import '../globals';

.sidebar {
  width: 300px;
  box-shadow: 13px 3px 40px #00000005;
  position: absolute;
  background-color: white;
  z-index: 5;

  &--hidden {
    display: none;
  }

  &__logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 { 
      height: 38px; 
    } 
    p {
      font-size: 12px;
    }
  }

  &__nav {
    margin-top: 10px;
    margin-bottom: 50px;
    color: $text-color;

    &__box {
      display: flex;
      align-items: center;
      margin: 25px 0;
      &:first-child {
        margin-top: 0;
      }

      a {
        text-decoration: none;
        color: $text-color;
      }

      i {
        margin-right: 15px;
      }

      &--active {
        color: $secondary-color;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          background-color: $secondary-color;
          width: 6px;
          border-radius: 0 6px 6px 0;
          height: 50px;
        }

        a {
          color: $secondary-color;
          font-weight: 600;
        }
      }
    }
  }

  &__card {
    padding: 20px 30px;
    border-radius: 18px;
    box-shadow: 0px 20px 30px #00000014;
    text-align: center;

    &__img {
      border-radius: 8px;
      height: 70px;
      width: 70px;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    &__name {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 10px;
    }

    &__mail {
      font-size: 10px;
      color: $gray-color;
    }
    
    &__btn {
      margin-top: 15px;
      color: $primary-color;
      background-color: #EBF1EF;
      text-transform: capitalize;
    }
  }

  &__rights {
    font-size: 12px;
    color: $gray-color;
    width: fit-content;
    p {
      text-align: left;
    }

    &__bold {
      color: black;
      font-weight: 700;
      font-size: 15px;
      margin-top: 60px;
    }

    &__bottom-text {
      margin-top: 50px;
      color: $text-color;
      font-size: 14px;
    }
  }
}