@import '../globals';

.users {
  &__photo {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    margin-right: 20px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__phone {
    display: flex;
    align-items: center;
    i {
      margin-right: 10px;
    }
  }
}